/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,400&family=Syne&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  user-select: none;
}

html {
  font-family: "Questrial", sans-serif;
}

p {
  margin: 0;
}

.cards {
  display: grid;
  margin: 0 auto;
}

/* Add a black background color to the top navigation */
.topnav {
  height: 90px;
  line-height: 90px;
  background: white;
}

.topnav a {
  display: none;
}

/* --- Francesca--- */
.logo {
  position: absolute;
  font-size: 26px;
  font-weight: bold;
  height: 80px;
  margin-left: 40px;
  line-height: 80px;
}

/* burger menu */
.topnav a.icon {
  display: block;
  float: right;
  cursor: pointer;
  margin: 0 40px 0 0;
  font-size: 28px;
  line-height: 80px;
  width: 28px;
  color: black;
}

.topnav.responsive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 100vh;
  max-height: 100%;
  position: relative;
  background-color: #d6cec2;
}

.topnav.responsive a:not(:first-child) {
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
  font-size: 38px;
}

.topnav.responsive a.icon {
  /* display: block; */
  padding-top: 0px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 38px;
}
/* --- crads ---- */
.card {
  padding: 1rem;
  min-height: 20rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.link {
  height: 4rem;
  border: 2px solid black;
  text-align: center;
  line-height: 4rem;
}

div .link.link-two {
  background-color: white;
}

.link a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-size: 24px;
}

.link p {
  margin: 0;
}

.link a:hover {
  color: #d6cec2;
  text-shadow: 1px 1px #9e9586;
}

.card.cardOne {
  display: none;
}

.card.cardTwo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card.cardTwo div.text {
  position: relative;
  padding: 40px;
}

.card.cardTwo a {
  position: absolute;
  top: 20px;
  left: 40px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

/* --card three-- */
.card.cardThree {
  background-image: url("./images/desk.jpeg");
}

.card.cardThree,
.card.cardSix,
.card.cardTwelve {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.card.cardThree p,
.card.cardFour p,
.card.cardSix p,
.card.cardTen p,
.card.cardTwelve a {
  position: absolute;
  /* top: 15px; */
  left: 40px;
  padding-right: 30px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

/* --card four-- */
.card.cardFour {
  position: relative;
}

.card.cardFour p,
.card.cardFive a,
.card.cardTen p {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.card.cardFive {
  padding-left: 40px;
}

.card.cardSix {
  background-image: url("./images/gin.jpeg");
}

.cardSeven {
  display: flex;
  align-items: center;
}

.card.cardSeven div.motto {
  width: 15rem;
  margin: 0 auto;
  padding: 30px 0px;
  text-align: center;
  font-size: 22px;
}

.parallax.cardEight {
  display: none;
}

ul {
  list-style-type: none;
}

.card.cardNine {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: black;
  font-size: bold;
}

.card.cardNine p {
  padding: 1rem;
}

.list-box {
  max-width: 800px;
  display: flex;
  flex-direction: row;
}

.first,
.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card.cardEleven {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.cardEleven .header {
  width: 320px;
  font-size: 24px;
}

.card.cardEleven p {
  font-size: 22px;
}

.card.cardEleven span {
  font-size: 22px;
  margin-bottom: 2.5rem;
}

.card.cardTwelve {
  background-image: url("./images/cvPic.jpeg");
}

.card.cardTwelve {
  position: relative;
}

.card.card.cardTwelve a {
  color: black;
}

.card.card.cardTwelve img {
  max-height: 100%;
  max-width: 100%;
}

/* ---about page--- */
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid orchid;
}

.about-title {
  padding: 40px;
}

/* hr {
  margin-bottom: 30px;
} */

.about-text {
  border: 2px solid purple;
  font-size: 22px;
}

.image {
  min-height: 180px;
  max-height: 300px;
  background-image: url("./images/desk.jpeg");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.hr {
  display: none;
}

/* ---about number two-- */
.projects-header {
  width: 60%;
  /* border: 2px solid green; */
  margin-top: 90px;
}

.about-title {
  /* border: 2px solid green; */
  /* margin-top: 90px; */
}

.about-text {
  width: 57%;
  /* column-count: 2;
  column-gap: 70px; */
  /* border: 2px solid greenyellow; */
}

.about-text p,
.single-project p {
  font-size: 22px;
}

.wrap {
  /* border: 2px solid red; */
  margin-bottom: 50px;
  /* column-count: 2;
  column-gap: 70px; */
}

/* .hr {
  display: flex;
} */

hr {
  width: 50%;
  margin-top: 40px;
}

.about-title p,
.projects-header p {
  padding-left: 20px;
  font-size: 32px;
}

.image {
  height: 500px;
  /* border: 2px solid yellow; */
  margin-bottom: 30px;
}

.icon-container {
  /* border: 2px solid black; */
  height: 45px;
  margin-bottom: 80px;
  margin-top: 30px;
}

.icon-container {
  /* border: 2px solid red; */
  height: 90px;
  width: 57%;
}

.icon-container img {
  margin: 20px 20px 20px 0px;
}

.icon-container p {
  color: grey;
  font-size: 20px;
}

.single-project h3 {
  margin: 40px 0px;
}

@media (min-width: 550px) {
  .card.cardSix img {
    max-height: 100%;
  }
  .card.cardThree,
  .card.cardSix,
  .card.CardTwelve {
    min-height: 30rem;
  }
}

@media (min-width: 1045px) {
  .topnav,
  .topnav.responsive {
    display: block;
    border: 3px solid black;
    height: 110px;
    line-height: 110px;
    background: white;
  }

  .topnav.responsive a:not(:first-child) {
    font-size: 26px;
  }

  .topnav a:not(:first-child) {
    float: right;
  }

  .topnav a {
    display: inline;
    text-decoration: none;
    color: black;
    line-height: 110px;
    font-size: 26px;
    margin: 0 40px 0 0;
  }

  .logo,
  .topnav a.icon,
  .topnav.responsive a.icon {
    display: none;
  }

  .topnav a:first-child {
    height: 110px;
    margin: 0;
    background-color: #d6cec2;
    float: left;
    border-right: 6px solid black;
    padding: 0 180px 0 120px;
    font-size: 32px;
  }

  .link {
    height: 6rem;
    line-height: 6rem;
  }

  .card {
    /* height: 25rem; */
    border: 2px solid black;
  }

  .cards .parallax {
    display: block;
    position: relative;
  }

  .parallax {
    /* The image used */
    border: 1px solid black;
    background-image: url("./images/framePic.jpeg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    z-index: -1;
  }

  .parallax p {
    position: absolute;
    top: 8px;
    left: 16px;
    text-decoration: none;
    font-weight: bold;
  }

  .card {
    min-height: 50rem;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "cardOne cardOne cardOne cardTwo cardTwo cardTwo"
      "cardThree cardThree cardThree cardFour cardFour cardFour"
      "cardFive cardFive cardFive cardSix cardSix cardSix"
      "cardSeven cardSeven cardSeven cardEight cardEight cardEight"
      "cardNine cardNine cardNine cardTen cardTen cardTen"
      "cardEl cardEl cardEl cardTwelve cardTwelve cardTwelve"
      "linkOne linkOne linkTwo linkTwo linkThree linkThree";
  }

  div .card.cardOne {
    grid-area: cardOne;
  }

  div .card.cardTwo {
    grid-area: cardTwo;
  }

  div .card.cardThree {
    grid-area: cardThree;
  }

  div .card.cardFour {
    grid-area: cardFour;
  }

  div .card.cardFive {
    grid-area: cardFive;
    background-color: #d6cec2;
  }

  div .card.cardSix {
    grid-area: cardSix;
  }

  div .card.cardSeven {
    background-color: #ff7f50;
    grid-area: cardSeven;
  }

  div .parallax.cardEight {
    grid-area: cardEight;
  }

  div .card.cardNine {
    grid-area: cardNine;
  }

  div .card.cardTen {
    grid-area: cardTen;
  }

  div .card.cardEleven {
    grid-area: cardEl;
  }

  div .card.cardTwelve {
    grid-area: cardTwelve;
  }

  div .link.link-one {
    grid-area: linkOne;
  }

  div .link.link-two {
    grid-area: linkTwo;
  }

  div .link.link-three {
    grid-area: linkThree;
  }

  /* ---- */
  .card.cardOne {
    position: relative;
  }

  .card.cardOne p {
    position: absolute;
    top: 8px;
    left: 16px;
    text-decoration: none;
    font-weight: bold;
  }

  .card.cardOne img {
    width: 100%;
    max-height: 100%;
    /* display: block; */
  }

  .card.cardFour {
    position: relative;
  }

  .card.cardFour p {
    color: black;
  }

  .card.cardSix {
    grid-area: cardSix;
  }

  .card.cardNine {
    color: white;
    background: black;
  }

  .card.cardTwelve {
    position: relative;
  }

  .card.card.cardTwelve img {
    /* max-width: 100%; */
    max-height: 100%;
  }

  .contact {
    color: black;
  }

  .logo {
    display: none;
  }

  label {
    display: none;
  }

  .link {
    background-color: white;
  }

  .cardNine {
    text-decoration: none;
  }

  .card.cardEleven {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
  }

  .card.cardNine p {
    padding: 0;
  }

  .cardEleven .header {
    display: flex;
    font-size: 26px;
    /* margin: 70px 20px 60px 20px; */
    margin-bottom: 70px;
  }

  .card.cardEleven p {
    font-size: 22px;
  }

  .list-box {
    display: flex;
    flex-direction: column;
  }

  .projects {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .projects {
    padding: 0;
    max-width: 57%;
    min-width: 57%;
    display: flex;
    flex-direction: column;
  }

  .about-title,
  .projects-header {
    width: 60%;
    /* border: 2px solid green; */
    margin-top: 90px;
    padding: 40px;
  }

  .about-text {
    width: 57%;
    column-count: 2;
    column-gap: 70px;
    /* border: 2px solid greenyellow; */
  }

  .about-text p,
  .single-project p {
    font-size: 22px;
  }

  .wrap {
    /* border: 2px solid red; */
    margin-bottom: 50px;
    column-count: 2;
    column-gap: 70px;
  }

  .hr {
    display: flex;
  }

  hr {
    width: 45%;
    margin-top: 40px;
    border: 2px solid blueviolet;
  }

  /* hr {
  margin-bottom: 30px;
} */

  .about-title p,
  .projects-header p {
    padding-left: 20px;
    font-size: 32px;
  }

  .image {
    height: 500px;
    /* border: 2px solid yellow; */
    margin-bottom: 30px;
  }

  .icon-container {
    /* border: 2px solid black; */
    height: 45px;
    margin-bottom: 80px;
    margin-top: 30px;
  }

  .icon-container {
    /* border: 2px solid red; */
    height: 90px;
    width: 57%;
  }

  .icon-container img {
    margin: 20px 20px 20px 0px;
  }

  .icon-container p {
    color: grey;
    font-size: 20px;
  }

  .single-project h3 {
    margin: 40px 0px;
  }
}

@media (min-width: 1329px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2.5fr 2.5fr 2.5fr 2.5fr 0.2fr;
    grid-template-areas:
      "cardOne cardOne cardOne cardOne cardTwo cardTwo cardTwo cardTwo cardThree cardThree cardThree cardThree"
      "cardFour cardFour cardFour cardFive cardFive cardFive cardFive cardSix cardSix cardSix cardSix cardSix"
      "cardSeven cardSeven cardSeven cardSeven cardEight cardEight cardEight cardEight cardEight  cardNine cardNine cardNine"
      "cardTen cardTen cardTen cardTen cardEl cardEl cardEl cardEl cardTwelve cardTwelve cardTwelve cardTwelve"
      "linkOne linkOne linkOne linkOne linkTwo linkTwo linkTwo linkTwo linkThree linkThree linkThree linkThree";
  }

  .link {
    background-color: white;
  }
}
