html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  position: absolute;
  font-size: 26px;
  font-weight: bold;
  height: 80px;
  margin-left: 100px;
  line-height: 80px;
}

label {
  display: block;
  cursor: pointer;
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 80px;
  width: 26px;
  float: right;
}

.navbar {
  border: 2px solid black;
  height: 80px;
  line-height: 80px;
}

.menu {
  width: 100%;
  display: none;
  margin: 0 30px 0 0;
}

.menu a {
  display: block;
  /* text-align!!! */
  text-align: center;
  clear: right;
  text-decoration: none;
  color: black;
  line-height: 80px;
  font-size: 20px;
 
}

/* #toggle:checked + .menu {
  background-color: white; 
  border: 2px solid black;
} */

#toggle:checked + body {
  background-color: #d6cec2;
}

#toggle {
  display: none;
}

#toggle:checked + .menu {
  display: block;
}

#toggle:checked + .menu a:first-child {
  display: none;
}

/* desktop and bigger screen */

@media (min-width: 1045px) {
  #toggle:checked + .menu a:first-child {
    display: block;
  }

  .logo {
    display: none;
  }

  .menu a:first-child {
    display: block;
  }
  #toggle + .menu {
    display: block;
  }

  .navbar {
    text-align: right;
    /* nav border in big screen and desktop */
    border: 2px solid black;
  }

  /* #toggle:checked + .navbar{
      border: 2px solid black;
  } */

  .menu {
    margin: 0 30px 0 0;
  }

  .menu a:first-child {
    margin: 0;
    background-color: #d6cec2;
    float: left;
    border-right: 3px solid black;
    padding: 0 300px 0 130px;
    font-size: 26px;
  }

  .menu a {
    display: inline-block;
    text-align: center;
    clear: right;
    text-decoration: none;
    color: black;
    line-height: 80px;
    font-size: 20px;
    margin: 0 22px;
  }

  label {
    display: none;
  }
}
