@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,400&family=Syne&display=swap");

/* font-family: 'Montserrat', sans-serif;
font-family: 'Syne', sans-serif; */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-family: "Syne", sans-serif;
}

.cards {
  display: grid;
  /* grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(20rem); */
  margin: 0 auto;
}

.logo {
  position: absolute;
  font-size: 26px;
  height: 80px;
  margin-left: 100px;
  line-height: 80px;
}

label {
  display: block;
  cursor: pointer;
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 80px;
  width: 26px;
  float: right;
}

.navbar {
  border: 2px solid black;
  height: 80px;
  line-height: 80px;
}

.menu {
  width: 100%;
  display: none;
  margin: 0 30px 0 0;
}

.menu a {
  display: block;
  /* text-align!!! */
  text-align: center;
  text-decoration: none;
  color: black;
  line-height: 80px;
  font-size: 20px;
}

.menu a:hover:not(:first-child) {
  color: #d6cec2;
  text-shadow: #9e9586;
}

/* #toggle:checked + .menu {
  background-color: white; 
  border: 2px solid black;
} */

#toggle:checked + body {
  background-color: #d6cec2;
}

#toggle {
  display: none;
}

#toggle:checked + .menu {
  display: block;
}

#toggle:checked + .menu a:first-child {
  display: none;
}

.card {
  /* background-color: dodgerblue; */
  color: white;
  padding: 1rem;
  height: 20rem;
  border: 2px solid black;
}

.link {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
  height: 6rem;
  border: 2px solid black;
  text-align: center;
  line-height: 6rem;
}

.link a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-size: 24px;
}

.link p {
  margin: 0;
}

.link a:hover {
  color: #d6cec2;
  text-shadow: 1px 1px #9e9586;
}

@media (min-width: 1045px) {
  .cards .parallax {
    display: block;
  }

  .parallax {
    /* The image used */
    border: 1px solid black;
    background-image: url("./tryout.jpeg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    height: 30rem;
  }

  /* .cards .link {
    grid-template-rows: repeat(1, 1fr);
    background-color: red;
  } */

  #toggle:checked + .menu a:first-child {
    display: block;
  }

  .logo {
    display: none;
  }

  .menu a:first-child {
    display: block;
  }

  #toggle + .menu {
    display: block;
  }

  .navbar {
    text-align: right;
    /* nav border in big screen and desktop */
    border: 2px solid black;
  }

  /* #toggle:checked + .navbar{
      border: 2px solid black;
  } */

  .menu {
    margin: 0 30px 0 0;
  }

  .menu a:first-child {
    margin: 0;
    background-color: #d6cec2;
    float: left;
    border-right: 4px solid black;
    padding: 0 250px 0 130px;
    font-size: 26px;
  }

  .menu a {
    display: inline-block;
    text-align: center;
    /* clear: right; */
    text-decoration: none;
    color: black;
    line-height: 80px;
    font-size: 20px;
    margin: 0 22px;
  }

  .menu a:last-child {
    margin-right: 70px;
  }

  label {
    display: none;
  }
}

@media (min-width: 1329px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1.5fr 1.5fr 1.5fr 1.5fr 0.2fr;
    grid-template-areas:
      "cardOne cardOne cardOne cardOne cardOne cardOne cardTwo cardTwo cardTwo cardThree cardThree cardThree"
      "cardFour cardFour cardFour cardFour cardFive cardFive cardFive cardSix cardSix cardSix cardSix cardSix"
      "cardSeven cardSeven cardSeven cardSeven cardSeven cardEight cardEight cardEight cardEight cardNine cardNine cardNine"
      "cardTen cardTen cardTen cardTen cardEl cardEl cardEl cardEl cardTwelve cardTwelve cardTwelve cardTwelve"
      "linkOne linkOne linkOne linkOne linkTwo linkTwo linkTwo linkTwo linkThree linkThree linkThree linkThree"
  }

  .card {
    height: 40rem;
  }

  div .card.cardOne {
    background-color: red;
    grid-area: cardOne;
  }

  div .card.cardTwo {
    background-color: white;
    grid-area: cardTwo;
  }

  div .card.cardThree {
    background-color: white;
    grid-area: cardThree;
  }

  div .card.cardFour {
    background-color: purple;
    grid-area: cardFour;
  }

  div .card.cardFive {

    grid-area: cardFive;
  }

  div .card.cardSix {
    grid-area: cardSix;
  }

  div .card.cardSeven {
    grid-area: cardSeven;
  }

  div .parallax.cardEight {
    /* background-color: purple; */
    grid-area: cardEight;
  }

  div .card.cardNine {
    grid-area: cardNine;
  }

  div .card.cardTen {
    grid-area: cardTen;
  }

  div .card.cardEleven {
    grid-area: cardEl;
  }

  div .card.cardTwelve {
    grid-area: cardTwelve;
  }

  div .link.link-one {
    grid-area: linkOne;
  }

  div .link.link-two {
    grid-area: linkTwo; 
  }

  div .link.link-three {
    grid-area: linkThree;
  }
  
  /* .card:first-child {
    background-color: green;
    grid-column: 1/4;
    grid-row: 1;
  } */
}
